@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* Header */
header {
  background-color: #000000;
}

.header {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 8vh;
  align-items: center;
}

.header-logo {
  font-weight: 800;
  font-size: 35px;
  margin-left: 20%;
}

.header-logo-dot {
  font-weight: 800;
  font-size: 35px;
  color: #e52a2a;
}

.menu {
  display: grid;
  grid-template-columns: 7fr 1fr;
  gap: 7%;
}

.menuLeft {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: #eff0f2;
  font-weight: 500;
  font-size: 16px;
}

.menuRight {
  color: #c2c6cc;
  font-weight: 500;
  font-size: 16px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  padding: 0;
  display: none;
  position: absolute;
  width: 100%;
  line-height: 5vh;
}

.dropdown-content a {
  display: block;
  padding-top: 1.5vh;
  padding-bottom: 0.5vh;
  background-color: #000000;
  color: #9a9a9a;
  font-weight: 600;
  font-size: 14px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  color: #e52a2a;
}

/* Main */
.section-wrapper-banner {
  height: 50vh;
  background-color: palegoldenrod;
}

.inner-wrapper {
  display: grid;
  row-gap: 5vh;
}

.inner-wrapper-title h1 {
  text-align: center;
  margin: 0;
  color: #484848;
  font-weight: 600;
  font-size: 40px;
}

.inner-wrapper-content {
  background-color: #ffffff;
  border-radius: 35px;
  margin: 0 auto;
  height: 6vh;
  width: 45%;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
}

.inner-wrapper-content p {
  margin: 0;
  padding-left: 8%;
}

.inner-wrapper-content p.location {
  font-weight: 600;
  font-size: 12px;
  color: #484848;
}

.inner-wrapper-content p.setting {
  font-weight: 600;
  font-size: 14px;
  color: #c2c6cc;
}

.inner-wrapper-content img {
  height: 4vh;
  width: 4vh;
  place-self: center;
}

.section-wrapper-story {
  height: 60vh;
  padding-left: 5%;
}

.story-title-wrapper {
  height: 10vh;
  padding-top: 5vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: end;
}

.story-title-wrapper h1 {
  height: 10vh;
  margin: 0;
}

.story-title-wrapper h1:after {
  content: "";
  display: block;
  width: 100px;
  border-bottom: 3px solid #616161;
  margin-top: 15px;
}

.story-title-wrapper button {
  height: 2.5vh;
  background-color: white;
  border: 0;
}

.story-title-wrapper img {
  height: 2.5vh;
}

.story-content-wrapper {
  height: 45vh;
}

.story-content-wrapper picture {
  display: flex;
  height: 30vh;
  padding-top: 5vh;
}

.story-content-wrapper p {
  display: flex;
  height: 10vh;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 5vh;
  padding-left: 5%;
}

.footer-logo {
  font-weight: bolder;
}

.footer-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-menu-title {
  font-weight: bolder;
}

.footer-menu-submenu {
  padding-top: 10px;
}

.footer-menu-submenu a {
  display: block;
}

.footer-menu-submenu p {
  margin: 0;
}

.footer-contact-logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer button {
  border: 0;
  border-radius: 30px;
  margin-right: 5px;
}
