@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* Header */
.header {
  background-color: #000000;
  display: grid;
  grid-template-columns: 20% 80%;
  height: 8vh;
  align-items: center;
}

.header-logo {
  font-weight: 800;
  font-size: 35px;
  margin-left: 20%;
  color: #f5f5f5;
}

.header-logo-dot {
  font-weight: 800;
  font-size: 35px;
  color: #e52a2a;
}

.menu {
  display: grid;
  grid-template-columns: 7fr 1fr;
  gap: 7%;
  align-items: center;
}

.menuLeft {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
}

.menuLeft a,
span {
  color: #eff0f2;
  font-weight: 500;
  font-size: 16px;
}

.menuRight a {
  color: #c2c6cc;
  font-weight: 500;
  font-size: 16px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  padding: 0;
  display: none;
  position: absolute;
  width: 100%;
  line-height: 5vh;
}

.dropdown-content a {
  display: block;
  padding-top: 1.5vh;
  padding-bottom: 0.5vh;
  background-color: #000000;
  color: #9a9a9a;
  font-weight: 600;
  font-size: 14px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  color: #e52a2a;
}

/* Main */
.section-wrapper-banner {
  height: 57vh;
  background-image: url("img/banner_img.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.inner-wrapper {
  display: grid;
  row-gap: 5vh;
  padding-top: 15vh;
}

.inner-wrapper-title h1 {
  text-align: center;
  margin: 0;
  color: #484848;
  font-weight: 600;
  font-size: 40px;
}

.inner-wrapper-content {
  background-color: #ffffff;
  border-radius: 35px;
  margin: 0 auto;
  height: 6vh;
  width: 45%;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
}

.inner-wrapper-content-wrapper p {
  margin: 0;
  padding-left: 8%;
}

.inner-wrapper-content p.location {
  font-weight: 600;
  font-size: 12px;
  color: #484848;
}

.inner-wrapper-content p.setting {
  font-weight: 600;
  font-size: 14px;
  color: #c2c6cc;
}

.inner-wrapper-content img {
  height: 4vh;
  width: 4vh;
  place-self: center;
}

.section-wrapper-story {
  height: 60vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10vh;
}

.story-title-wrapper {
  height: 15vh;
  padding-bottom: 8vh;
}

.story-title-wrapper h1 {
  height: 10vh;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  color: #484848;
  display: grid;
  justify-items: start;
}

.story-title-wrapper h1:after {
  content: "";
  display: block;
  width: 140px;
  border-bottom: 6px solid #484848;
  margin-top: 5vh;
  border-radius: 3px;
}

.story-title-wrapper-map {
  display: grid;
  justify-items: end;
}

.story-title-wrapper-map img {
  height: auto;
  width: auto;
}

.story-content {
  height: 37vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3%;
}

.story-content-wrapper {
  background-image: url("img/story_bgr.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 37vh;
  border-radius: 5%;
  position: relative;
}

.story-content-heart img {
  height: 8%;
  position: absolute;
  top: 5%;
  right: 5%;
}

.story-content-account {
  position: absolute;
  bottom: 7%;
  left: 7%;
}

.story-content-account img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.story-content-account p {
  margin: 0;
}

.story-content-account .name {
  font-weight: 700;
  font-size: 17px;
  color: #ffffff;
  margin-top: 7px;
}

.story-content-account .location {
  font-weight: 500;
  font-size: 13px;
  color: #c4c4c4;
  margin-top: 5px;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 5vh;
  padding-left: 5%;
  background-color: #9a9a9a;
}

.footer-logo {
  font-weight: bolder;
}

.footer-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-menu-title {
  font-weight: bolder;
}

.footer-menu-submenu {
  padding-top: 10px;
}

.footer-menu-submenu a {
  display: block;
}

.footer-menu-submenu p {
  margin: 0;
}

.footer-contact-logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer button {
  border: 0;
  border-radius: 30px;
  margin-right: 5px;
}
